<!--
		==========================
		== BEGIN HEADER CONTENT ==
		==========================
		-->
<header id="main-header" class="the-header the-origin-header header-navbar">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			        	<span class="icon-menu5"></span>
            </button>
            <!-- Your Logo -->
            <a href="https://tiffanyandkelvin.firebaseapp.com/" class="navbar-brand logo tak-navbar-brand">
                Laís & Wesley
            </a>

        </div> <!--/ .navbar-header -->

        <!-- BEGIN NAVBAR -->
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="navbar-nav all-caps pull-right">
                <li class="current"><a href="#hero" data-toggle="collapse" data-target="#navbar">Início</a></li>
                <li><a href="#introduction" data-toggle="collapse" data-target="#navbar">Cerimônia</a></li>
                <li><a href="#schedule" data-toggle="collapse" data-target="#navbar">Programação</a></li>
                <li><a href="#our-speakers" data-toggle="collapse" data-target="#navbar">Lista de Presentes</a></li>
                <li><a href="#pw-gallery" data-toggle="collapse" data-target="#navbar">Galeria</a></li>
                <li><a class="external" ui-sref="rsvp-code">Confirmar Presença</a></li>
            </ul> <!--/ .navbar-nav -->

        </div>
        <!--/ END NAVBAR -->

    </div> <!--/ .container -->
</header>
<!--
=========================
==/ END HEADER CONTENT ==
=========================
-->


<!--
========================
== BEGIN MAIN CONTENT ==
========================
-->
<main id="main-content" class="event-layout layout-with-navbar"> <!-- margin value is the height of your footer -->

    <!--
    ========================
    == BEGIN HERO SECTION ==
    ========================
    -->

    <section id="hero" class="">
        <div class="container">

            <div class="vertical-center-wrapper">
                <div class="vertical-center-table">
                    <div class="vertical-center-content">

                        <!-- BEGIN Hero Content -->
                        <div class="hero-content row">
                            <div class="col-lg-8">

                                <p class="lead all-caps text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">Bem vindos ao nosso casamento!</p>

                                <h1 class="all-caps text-shadow-medium" data-sr="enter right over 1s and move 50px wait 0.1s">Laís & Wesley</h1>

                                <div class="event-hero-info text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <small>
                                        <span class="event-hero-icon icon-calendar2"></span>
                                        5 de Setembro de 2026
                                    </small>
                                    <small>
                                        <span class="event-hero-icon icon-library"></span>
                                        Ribeiro Junqueira, MG
                                    </small>
                                </div> <!--/ .event-hero-info -->

                                <div data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <a class="scroll-to cta cta-default all-caps external" rel="vimeo" ui-sref="rsvp-code">Confirmar Presença</a>
                                </div>

                            </div>
                        </div>
                        <!-- END Hero Content -->

                    </div> <!--/ .vertical-center-content -->
                </div> <!--/ .vertical-center-table -->
            </div> <!-- / .vertical-center-wrapper -->

        </div> <!--/ .container -->
    </section>

    <!--
    =======================
    ==/ END HERO SECTION ==
    =======================
    -->

    <!--
    ===============================
    == BEGIN TOP CLIENT SECTION  ==
    ===============================
    -->
    <section id="top-client" class="centered">

        <div class="container">
            <div class="row">

                <!-- BEGIN Client Logo -->
                <div class="client-logo">

                    <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-3" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(0)"><img src="../../images/thumbnail-strip/girassol1.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(1)"><img src="../../images/thumbnail-strip/girassol2.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(2)"><img src="../../images/thumbnail-strip/girassol3.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(3)"><img src="../../images/thumbnail-strip/girassol4.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(4)"><img src="../../images/thumbnail-strip/girassol5.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(5)"><img src="../../images/thumbnail-strip/girassol6.jpeg"/></a>

                    </div> <!--/ .the-logo -->

                </div> <!--/ .client-logo -->
                <!-- END Client Logo -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    =============================
    ==/ END TOP CLIENT SECTION ==
    =============================
    -->


    <!--
    ==============================
    == BEGIN INTRODUCTION SECTION ==
    ==============================
    -->
    <section id="introduction" class="centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Cerimônia</p>

                    <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Queridos amigos e familiares,</strong>
                        <br> Estamos contando os dias para celebrar o amor com as pessoas que mais amamos.
                        <br>E é uma alegria imensa ter vocês conosco nesse momento tão especial!
                        <br>Nesse site, você vai encontrar todos os detalhes sobre a cerimônia, a festa, a lista de presentes e confirmação de presença, que preparamos com muito carinho.
                        <br>A confirmação da presença é indispensável e instransferível.
                        <br>Estamos ansiosos para viver este dia inesquecível ao lado de cada um de vocês! Nos encontramos lá.
                    </p>

                </div><!--/ .col-lg-10 -->

                    <h2 class="section-heading">Sítio Ebenézer</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Cerimônia</strong> 16:00h
                        <br>Chegue com, no mínimo, 30 minutos de antecedência
                        <br><a href="https://www.google.com.br/maps/place/S%C3%ADtio+Eben%C3%A9zer+-+Leopoldina+MG/@-21.4663463,-42.5098774,17z/data=!3m1!4b1!4m6!3m5!1s0xbd2dc84cb3e2ff:0xe943cc3ddb44c7f9!8m2!3d-21.4663513!4d-42.5073025!16s%2Fg%2F11pvb4ftm5?entry=ttu&g_ep=EgoyMDI2MDIwMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">R. Manoel Honório da Cunha, 1500 - Zona rural, Leopoldina - MG, 36708-600</a>
                    </p>

                </div><!--/ .col-lg-10 -->

                <div class="clearfix"></div>

                <section id="map-section" class="gray-bg">
                    <div class="browser-mockup-wrapper" ng-if="vm.mapsApiFailed">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1onnkoAQ_5wZ25Wze597LrQsNmUtMkhQ&ehbc=2E312F" width="640" height="480"></iframe>
                    </div>
                    <div class="col-lg-12 mapa-wrapper" ng-if="!vm.mapsApiFailed">
                        <div class="row">
                            <div class="col-lg-4">
                                <div id="right-panel"></div>
                            </div>
                            <div class="col-lg-8">
                                <div  id="googleMap"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> <!--/ .row -->
        </div> <!--/ .container -->
        <div class="clearfix"></div>

    </section>
    <br>
    <!--
    =============================
    ==/ END INTRODUCTION SECTION ==
    =============================
    -->


    <!--
    =======================
    == BEGIN TAB SECTION ==
    =======================
    -->
    <section id="schedule" class="gray-bg">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 centered">

                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                        <p class="section-title">Programação dos Eventos</p>

                        <!-- <h2 class="section-heading">Check back for any new events or additional details!</h2> -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Section Tab -->
                <div class="section-tab schedule-tab" role="tabpanel">

                    <!-- BEGIN Nav tabs -->
                    <!-- <ul class="nav nav-tabs centered" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#one" aria-controls="one" role="tab" data-toggle="tab">
                                Day One <span class="event-date">21 September 2016</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#two" aria-controls="two" role="tab" data-toggle="tab">
                                Day Two <span class="event-date">22 September 2016</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#three" aria-controls="three" role="tab" data-toggle="tab">
                                Day Three <span class="event-date">23 September 2016</span>
                            </a>
                        </li>
                    </ul> -->
                    <!--/ END Nav tabs -->

                    <!-- BEGIN Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="one">

                            <!-- BEGIN Fourth Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/sitio.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 14:00h - 15:00h
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Casa principal do Sítio Ebenézer
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Recepção do cortejo</h4>

                                            <p><i>Para padrinhos, madrinhas e familiares próximos.</i> <br>Padrinhos, madrinhas e familiares próximos deverão comparecer com antecedência para organização do cortejo e registros fotográficos.</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> Phil Rowton, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Fourth Session -->

                            <!-- BEGIN Session Break -->
                            <div class="session-break centered">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="session-description">

                                            <div class="session-break-time">
                                                <span class="icon-clock4"></span> 15:00h - 16:00h
                                            </div> <!--/ .session-break-time -->

                                            <h4 class="session-break-title">Chegada dos convidados</h4>

                                        </div> <!--/ .session-description -->

                                    </div> <!-- col-lg-8 -->

                                </div> <!--/ .row -->

                            </div>
                            <!--/ END Session Break -->

                            <!-- BEGIN First Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/gazebo.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 16:00h - 17:30h
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Sítio Ebenézer
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Cerimônia de Casamento</h4>

                                            <p>Assista a Laís e o Wesley dizerem "Eu aceito!" e se casarem!</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> John Doe, Kandy Kahre -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END First Session -->

                            <!-- BEGIN Second Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="images/itinerary/foto.webp" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 17:30h - 18:30h
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Sítio Ebenézer
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Fotos Pós-Cerimônia</h4>

                                            <p><i>Sessão de fotografias exclusiva para a noiva, noivo, família e amigos.</i> <br>Parentes, amigos e convidados terão oportunidade de tirar fotos com a noiva e o noivo durante a recepção.</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> Salvatore Haycock -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Second Session -->

                            <!-- BEGIN Session Break -->
                            <div class="session-break centered">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="session-description">

                                            <div class="session-break-time">
                                                <span class="icon-clock4"></span> 18:30h - 19:00h
                                            </div> <!--/ .session-break-time -->

                                            <h4 class="session-break-title">Preparação do buffet</h4>

                                        </div> <!--/ .session-description -->

                                    </div> <!-- col-lg-8 -->

                                </div> <!--/ .row -->

                            </div>
                            <!--/ END Session Break -->

                            <!-- BEGIN Third Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/festa.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> A partir de 19:00h
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Sítio Ebenézer
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Buffet e festa</h4>

                                            <p>Coma, beba, dance e celebre!</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> August Brunk, Jessenia Gillis, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Third Session -->



                        </div><!-- First Tab Pane -->

                    </div>
                    <!--/ END Tab panes -->

                </div>
                <!--/ END Section Tab -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ======================
    ==/ END TAB SECTION ==
    ======================
    -->


        <!--
    ===========================
    == BEGIN COUNTER SECTION ==
    ===========================
    -->
    <section id="counter" class="breaking centered" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-400">

        <div class="color-overlay">

            <div class="breaking-content">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 centered">

                            <h4>Laís e Wesley vão se casar em:</h4>

                            <ul class="countdown-timer center"></ul> <!-- This will display countdown timer -->

                        </div> <!--/ .col-lg-12 -->


                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .breaking-content -->

        </div> <!--/ .color-overlay -->

    </section>
    <!--
    ==========================
    ==/ END COUNTER SECTION ==
    ==========================
    -->
    

    <!--
    ================================
    == BEGIN OUR SPEAKERS SECTION ==
    ================================
    -->
    <section id="our-speakers">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Lista de Presentes</p>

                    <h3 class="section-heading">Nossa Lista de Presentes</h3>

                    <p>Confira aqui os presentes escolhidos pelos noivos com uma grande dose de humor*.</p>
                    <p>*Cada sátira corresponde a um item real, clique em Comprar para ser redirecionado à uma referência do produto.</p>
                    <p>**Para que os pombinhos não ganhem 10 pipoqueiras iguais, clique em Comprei para avisar os noivos e bloquear o item. Outros convidados não verão o seu nome.</p>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                            
                <!-- Grid de presentes -->
                <div class="lp-grid" id="lp-grid">
                <!-- CARD 1 COBERTOR -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://st4.depositphotos.com/19501406/31357/i/1600/depositphotos_313575030-stock-photo-ghost-covered-white-ghost-sheet.jpg" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Cobertor</h3>
                    <p class="lp-card-desc">Cobertor para a noiva ficar coberta de razão. Faz um Pix para a chave de e-mail Laisboalento@gmail.com :) </p>
                    <div class="lp-card-footer">
                        <span class="lp-preco">R$ 89,90</span>
                    </div>
                    </div>
                </article>

                <!-- CARD 2 JULIUS -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://fourblitz.wordpress.com/wp-content/uploads/2016/05/8b14d-julius2brock.png" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Econômico</h3>
                    <p class="lp-card-desc">Só para não dizer que não dei nada. Faz um Pix para a chave de e-mail Laisboalento@gmail.com :) </p>
                    <div class="lp-card-footer">
                        <span class="lp-preco">R$ 29,00</span>
                    </div>
                    </div>
                </article>

                <!-- CARD 3 TAMPÃO -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://images.tcdn.com.br/img/img_prod/554605/kit_10pc_protetor_auricular_auditivo_tampao_de_ouvido_cg38_com_cordao_carbografite_15db_119929_1_3bb4094be248e8ed2ad1fc2e5da7366d.jpg" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Tampão de Ouvido</h3>
                    <p class="lp-card-desc">Para o noivo tampar o ouvido enquanto a noiva reclama. Mas pode ser um pixinho para ajudar na chave de e-mail Laisboalento@gmail.com.</p>
                    <div class="lp-card-footer">
                        <span class="lp-preco">R$ 99,90</span>
                    </div>
                    </div>
                </article>

                <!-- CARD 5  CHUPETA -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://images.tcdn.com.br/img/img_prod/482052/chupeta_comfort_noturna_unicornio_tamanho_2_buba_12674_20533_2_c9565ee1d6493f7cf226354c9c1218c2.jpg" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Chupeta</h3>
                    <p class="lp-card-desc">Para ajudar com o primeiro filho. Manda o pix aí! Chave de e-mail: Laisbolento@gmail.com</p>
                    <div class="lp-card-footer">
                        <span class="lp-preco">R$ 299,90</span>
                        <a class="lp-btn lp-btn-buy" href="https://www.exemplo.com/produto/almofada" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 4 COOKTOP -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://rihappy.vtexassets.com/arquivos/ids/390854-800-auto?v=636995936086670000&width=800&height=auto&aspect=true" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Cooktop de última geração</h3>
                    <p class="lp-card-desc">Para o noivo cozinhar enquanto a noiva estiver nervosa de fome.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 6 PANELAS -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_684274-MLB70745059146_072023-O.webp" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Panelas</h3>
                    <p class="lp-card-desc">Jogo de panelas moderno.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 7 MICROONDAS -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_969238-MLB89624227929_082025-O.webp" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Microondas</h3>
                    <p class="lp-card-desc">Inox, super moderno!</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 8 SANDUICHEIRA -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://d3bkgvrq5dqryp.cloudfront.net/Custom/Content/Products/27/62/27625_sanduicheira-00083869_z13_638838526783856011.webp" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Sanduicheira elétrica</h3>
                    <p class="lp-card-desc">Para a noiva comer após os plantões.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 9 FAQUEIRO -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlMHXRJdG6iegNOLWmetivTR017YtoerjvkA&s" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Faqueiro</h3>
                    <p class="lp-card-desc">Para a noiva... Bom... Lidar com meninas que dão em cima do noivo.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 10 JANTAR -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://cdn.awsli.com.br/460/460481/produto/209705881/prato-descartavel-raso-25cm-branco-pacote-10-unidades-festa-facil-un-dwpxkr.jpg" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Aparelho de jantar</h3>
                    <p class="lp-card-desc">Vintage, chique, a cara da beleza.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 11 CAMA -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://img.elo7.com.br/product/zoom/5628E48/cama-boneca-bebe-reborn-beliche-para-duas-bonecas-moveis-de-madeira.jpg" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo de cama</h3>
                    <p class="lp-card-desc">Para ajudar no conforto da produção dos herdeiros.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 12 COPOS -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKrgSWvU1eu3Zib_wv_4FCQp0a5j-uK1gZfQ&s" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo de copos</h3>
                    <p class="lp-card-desc">O noivo costuma quebrar bastante. Pode doar um plástico-bolhas também.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 13 TOALHAS -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HSvVHKjvVBnzR-SMrl6Em7MZK3Z5fIOT0A&s" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo de toalhas</h3>
                    <p class="lp-card-desc">Toalha molhadaaa!</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 14 SOBREMESA -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://d1o6h00a1h5k7q.cloudfront.net/imagens/img_g/45250/22105118.jpg" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo de sobremesas</h3>
                    <p class="lp-card-desc">Para adoçar o casamento!</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 15 AGUA -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://www.infoescola.com/wp-content/uploads/2010/03/Rio-Tiet%C3%8A_749456410.jpg" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Purificador de água</h3>
                    <p class="lp-card-desc">Eles moram em SP...</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 16 COPOS -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://i.pinimg.com/736x/bb/b3/62/bbb3629d9169e4bb47dbd1c197e52ded.jpg" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo de almofadas</h3>
                    <p class="lp-card-desc">Para tacar na cara do noivo.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 17 EDREDOM -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://ae01.alicdn.com/kf/Sd8f869d393614fdfac0bb8260952d0846.jpg" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Edredom</h3>
                    <p class="lp-card-desc">Às vezes o noivo também tem que ter razão.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 18 VENTILADOR -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://i.ytimg.com/vi/nHHeAeN-Un4/oardefault.jpg?sqp=-oaymwEYCJUDENAFSFqQAgHyq4qpAwcIARUAAIhC&rs=AOn4CLBT6d653TZnzhWHuyTlb2m28rmUzw&usqp=CCk" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Ventilador de teto</h3>
                    <p class="lp-card-desc">Para apagar o fogo no rabo dos dois.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 19 POTES -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjCd33rVgxCairN9T9i8fWnoWdL5DeDhoCSLfsTOWvwGn37kE3VG_BHne7JGWypr8WJU3SZkiwiYxEhKKN3-UZEU9rO34bEWv-PK8yqVYnzwcYZ7hAgyUAFDtkJmcOjPdUwXG8F5KB8bF4/w1200-h630-p-k-no-nu/Potes+Decorados+Infantil.jpg" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Potes de vidro</h3>
                    <p class="lp-card-desc">Para a noiva parar de ser fubanga véia pôdi.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 20 MARINEX -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://i.redd.it/marinex-estourou-no-forno-a-230-c-no-primeiro-uso-v0-vnz55zn3qe4g1.jpg?width=1600&format=pjpg&auto=webp&s=02bd948a6f5eedd8368cc6c969673dc337f2adf1" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Marinex</h3>
                    <p class="lp-card-desc">Umas comidinhas gostosas de fim de ano.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 21 LEITO -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrW_shGxST0LFHw34WysZ-hsIhtVu5lGYuNQ&s" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Cobre-leito</h3>
                    <p class="lp-card-desc">Às vezes o noivo também tem que ter razão.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 22 PANELA ARROZ -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://s2-techtudo.glbimg.com/T1XRnUnZ8qmRhRsjl05DUuugo-U=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2025/T/z/ux20cySNSt1iwLbJvpwg/elo-6-.jpg" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Panela de arroz elétrica</h3>
                    <p class="lp-card-desc">Para a noiva parar de queimar o arroz (talvez queime a panela).</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 23 FORNO -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRloLN9U5_AI5UUrUbzQH6WPIWz5nh-xlM8Zw&s" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Forno elétrico</h3>
                    <p class="lp-card-desc">Para a noiva parar de ser fubanga véia pôdi.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 24 FERRO -->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://www.estrelando.com.br/uploads/2017/11/01/cardib-1509564524.450x270.jpg" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Ferro de passar</h3>
                    <p class="lp-card-desc">Para o noivo parar de sair amarrotado.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>

                <div class="lp-grid" id="lp-grid">
                <!-- CARD 25 ASPIRADOR -->
                <article class="lp-card" data-preco="89.90">
                    <img src="https://admin.cnnbrasil.com.br/wp-content/uploads/sites/12/2025/08/fabio-assuncao.jpg?w=1129&h=547&crop=1" alt="Cobertor" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Aspirador de pó</h3>
                    <p class="lp-card-desc">Só para limpar os pelos do Tyrion, gente.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Almofada Decorativa">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 26 PROCESSADOR -->
                <article class="lp-card" data-preco="159.00">
                    <img src="https://assets.aboutamazon.com/dims4/default/f5bf59e/2147483647/strip/true/crop/2539x1434+6+0/resize/2500x1412!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F47%2F92%2F20cd4a824100b41ddc40f377b103%2Fhero-001-dallin-tasha-fidel-aws-employees-full-length-final-color-mix-v2-mp4-mp4-00-03-46-14-still023-copy-2-2.JPG" alt="Jogo de toalhas 4 peças cor branca" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Multiprocessador</h3>
                    <p class="lp-card-desc">Cortar carne. De frango.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Jogo de Toalhas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 27 JOGO -->
                <article class="lp-card" data-preco="289.90">
                    <img src="https://admin.cnnbrasil.com.br/wp-content/uploads/sites/12/2025/02/kansas-city-philadelphia-eagles-super-bowl-nfl-e1738690836216.jpg?w=1200&h=1200&crop=1" alt="Liquidificador inox com copo de vidro" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Jogo americano</h3>
                    <p class="lp-card-desc">Não é futebol americano, é mesa posta.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Liquidificador Inox">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 28  PIPOCA-->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYSejhPM9WOj1qKAo6AJwiA8WGrmP5MW-wYA&s" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Pipoqueira</h3>
                    <p class="lp-card-desc">Pipoca de qualidade para a noiva maratonar séries o dia todo.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 29 CAFETEIRA-->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://down-br.img.susercontent.com/file/br-11134207-7r98o-m80lnryufdgx48" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Cafeteira</h3>
                    <p class="lp-card-desc">A madrinha que fez esse site ama café. Sem açúcar.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>

                <!-- CARD 30 AIRFRYER-->
                <article class="lp-card" data-preco="49.90">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRj6cADQA73R6Fq3RJ6qgmn8CGaMAKAktGvsq2mq1HlP9uX6Mr2RpzEUU6&s=10" alt="Par de canecas pretas" loading="lazy">
                    <div class="lp-card-body">
                    <h3 class="lp-card-title">Airfryer</h3>
                    <p class="lp-card-desc">Vocês já viram a situação da Airfryer da menina? Uma panela de pressão explodida está mais conservada.</p>
                    <div class="lp-card-footer">
                        <a class="lp-btn lp-btn-buy" href="https://m.querodecasamento.com.br/lista-de-casamento/wesla" target="_blank" rel="noopener noreferrer" aria-label="Comprar Par de Canecas">
                        Comprar
                        </a>
                    </div>
                    </div>
                </article>
                </div>


                <!-- Fim do grid de presentes -->

                <!--
                                        <div class="col-lg-12 centered margin-top-20">
                                            <a href="#0" class="cta cta-default all-caps">All Speakers</a>
                                        </div>
                -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ===============================
    ==/ END OUR SPEAKERS SECTION ==
    ===============================
    -->

    <section id="pw-gallery">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Galeria</p>

                    <h3 class="section-heading">Nosso ensaio de pré-casamento</h3>

                    <ul class="customer-logos">

                        <li ng-repeat="img in vm.renGallery track by $index"
                            ng-class="{'center-customer-logo': $index % 3 === 1}"
                            class="engagement-vertical">

                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo"
                                            ng-src="{{'images/fotos-pw/' + img}}"
                                            ng-click="vm.openRenGallery($index)"/>

                                    </div>
                                </div>
                            </div>

                        </li>    

                    </ul>
                </div>
            </div>
        </div>
    </section>
    


    <!--
    =============================
    == BEGIN FOOTER WIDGET SECTION ==
    =============================
    -->
    <section id="footer-widget-section" class="breaking" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="40">

        <div class="color-overlay">

            <div class="footer-widget-wrapper">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-2 col-md-3 col-sm-3">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Agradecimentos</h5>

                                <p>Agradecemos aos nossos pais, familiares, padrinhos e madrinhas e amigos por fazerem parte desse momento tão especial em nossas vidas. A presença de cada um será muito especial.</p>


                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->


                        <div class="col-lg-4 col-md-4 col-sm-4">

                            <div class="widget text-widget">

                                <h5 class="widget-title" style="visibility: hidden">Siga os noivos:</h5>

                                <p class="tak-thanks-list-item">Lais Boalento: <a class="more"
                                                                                 href="https://www.instagram.com/laisboalento?igsh=MTJsZDIwd2NncDRrMw=="
                                                                                 target="_blank">
                                    Ela</a></p>
                                <p class="tak-thanks-list-item">Wesley Carvalho: <a class="more"
                                                                           href="https://www.instagram.com/wesley_carvalho05?igsh=bThtMzg0ZHFkNXlr"
                                                                           target="_blank">
                                   Ele</a></p>

                            </div> <!--/ .widget -->


                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .footer-widget-wrapper -->

        </div><!--/ .color-overlay -->
    </section>
    <!--
    ================================
    ==/ END FOOTER WIDGET SECTION ==
    ================================
    -->

</main> <!--/ #main-content -->
<!--
=======================
==/ END MAIN CONTENT ==
=======================
-->


<!--
=========================
== BEGIN TO TOP BUTTON ==
=========================
-->
<a id="to-top"><span class="icon-chevron-thin-up"></span></a>
<!--
========================
==/ END TO TOP BUTTON ==
========================
-->

